<nav class="navbar navbar-expand navbar-light navbar-bg sticky-top">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
      <div class="navbar-nav navbar-align">
        <img id="logo" src="/logo.png" alt="">
      </div>
    </div>
</nav>