nav h1{
	font-size: 40px;
	font-weight: 700;
}
nav{
	margin-bottom: 15px;
}

.min-h {
	min-height: 250px;
}


.dataTables_wrapper {
	padding: 10px;
	padding-right: 15px;
}

.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	padding-right: 10px;

	/* margin-bottom: 10px; */
}

.title2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	padding-right: 10px;

	/* margin-bottom: 10px; */
}
.title h1{
	font-size: 35px;
	padding: 9px;
	border-radius: 7px;
	/* color: #fff; */
	font-weight: 700;
}

.textbox{
	width: 125px;
	font-weight: 500;
	margin-bottom: 10px;
}

.textbox2{
	font-weight: 500;
	width: 90px;
	margin-bottom: 10px;
}

.textbox3{
	font-weight: 500;
	width: 100px;
	margin-bottom: 10px;
}

.textbox4{
	font-weight: 500;
	/* width: 100px; */
	margin-bottom: 10px;
}
.no-bor{
	border: none;
	background: white;
}

.w-700{
	font-weight: 700;
}

a.nav-link{
	font-size: 1rem;
}



.mg-0{
	margin: 0;
	font-size: 1rem;
}


.no-bor-title{
	background: white;
	font-size: 35px;
	color: black;
	font-weight: 700;
	border: none;
}

.wd-select{
	height: 33.39px;
}

mg-20{
	padding: 20px;
}






.input-group-footer{
	padding-top: 30px;
}

.form-control.edit{
	background-color: #73b3a66b;
}
.form-select.edit{
	background-color: #73b3a66b;
}

.form-control:disabled {
	background-color: #fff;
}
.form-select:disabled{
	background-color: #fff;
}



.bg-w{
    background: white;
	height: 90vh;
    padding: 20px;
    border-radius: 8px;
}

.input-group-text {
	background-color: #3b9a876b;	
}

.save{
	background-color: rebeccapurple;
}

.f-9{
	font-size: 0.8rem;
}


#btnRevised{
	position: relative;
	right: 41px;
}


#modalEditProject h3{
	color: #fff;
}

