nav h1{
	font-size: 40px;
	font-weight: 700;
}
nav{
	margin-bottom: 15px;
}

.min-h {
	min-height: 250px;
}


.dataTables_wrapper {
	padding: 10px;
	padding-right: 15px;
}



.textbox{
	width: 125px;
	font-weight: 500;
	margin-bottom: 10px;
}

.textbox2{
	font-weight: 500;
	width: 90px;
	margin-bottom: 10px;
}

.textbox3{
	font-weight: 500;
	width: 100px;
	margin-bottom: 10px;
}

.textbox4{
	font-weight: 500;
	/* width: 100px; */
	margin-bottom: 10px;
}
.no-bor{
	border: none;
	background: white;
	font-size: 0.9rem;
	
}

.btn-rad{
	border-radius: 3px;
}



.input-group-text.mg-0{
	background-color: #fff;
	border: 0;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 700;
	margin: 0;

	margin-bottom: 5px;
}


.no-bor-title{
	background: white;
	font-size: 35px;
	color: black;
	font-weight: 700;
	border: none;
}

.wd-select{
	height: 33.39px;
}

mg-20{
	padding: 20px;
}

#tableItem_wrapper{
	padding-bottom: 10px;
	padding-bottom: 20px;
}

#tableSubItem_wrapper{
	padding-bottom: 10px;
	padding-bottom: 20px;
}





.input-group-footer{
	padding-top: 30px;
}

.form-control.edit{
	background-color: #73b3a66b;
}
.form-select.edit{
	background-color: #73b3a66b;
}

.form-control:disabled {
	background-color: #fff;
}
.form-select:disabled{
	background-color: #fff;
}



.bg-w{
    background: white;
	height: 90vh;
    padding: 20px;
    border-radius: 8px;
}

.input-group-text {
	background-color: #3b9a876b;	
}

.save{
	background-color: rebeccapurple;
}

.f-9{
	font-size: 0.8rem;
}





#modalEditProject h3{
	color: #fff;
}

