/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.9rem;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-repeat: no-repeat;
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* min-height: 100vh; */
}

table, caption, tbody, tfoot, thead, tr, th, td{
	font-size: 0.9rem;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





nav h1{
	font-size: 40px;
	font-weight: 700;
}
nav{
	margin-bottom: 15px;
}

.Quo_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quo_title h2{
    font-size: 30px;
    font-weight: 600;
}

.min-h {
	min-height: 250px;
}


.dataTables_wrapper {
	/* margin-top: 2em; */
	margin-bottom: 2em;
}

.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	margin-bottom: 10px;
}
.title h1{
	font-size: 35px;
	padding: 9px;
	border-radius: 7px;
	/* color: #fff; */
	font-weight: 700;
}

.textbox{
	width: 125px;
	font-weight: 500;
	margin-bottom: 10px;
}

.textbox2{
	font-weight: 500;
	width: 90px;
	margin-bottom: 10px;
}

.textbox3{
	font-weight: 500;
	width: 100px;
	margin-bottom: 10px;
}

.textbox4{
	font-weight: 500;
	/* width: 100px; */
	margin-bottom: 10px;
}
.no-bor{
	border: none;
	background: white;
}

.w-700{
	font-weight: 700;
}

a.nav-link{
	font-size: 1rem;
}



.mg-0{
	margin: 0;
	font-size: 1rem;
}


.no-bor-title{
	background: white;
	font-size: 35px;
	color: black;
	font-weight: 700;
	border: none;
}

.wd-select{
	height: 34.39px;
}

mg-20{
	padding: 20px;
}

.btn-position{
	position: relative;
	left: 310px;
}

.form-control.edit{
	background-color: #73b3a66b;
}
.form-select.edit{
	background-color: #73b3a66b;
}

.form-control:disabled {
	background-color: #fff;
}
.form-select:disabled{
	background-color: #fff;
}



.bg-w{
    background: white;
	height: 90vh;
    padding: 20px;
    border-radius: 8px;
}

.input-group-text {
	background-color: #3b9a876b;	
}

.save{
	background-color: rebeccapurple;
}

/* input,.container {
	font-size: 0.9rem;
} */


